
{% extends 'navigationbar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
{% block body %}
<div class="container" style="margin-top:50px;">
<body>
    <h2 class="text-center">About Us</h2>
<br><br><br><br>
<div class="row">
    <div class="col-sm-4 text-center">
        <img src="{%  static 'images/about-us.jpg'%}" width="300" height="200" class="img-responsive">
    </div>
    <div class="col-sm-8 font-weight-bold mt-5">
        Hello Friends..!!!<br>
        This is a simple Hospital Management Project developed by Reshma, Hrishikesh <br> using HTML, CSS, Javascript, PythonDjango and Sqlite.
    </div>
</div>
</body>
    </div>
{% endblock %}
</html>